.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.container > div {
    width: auto;
}
@media (max-width: 767px) {
    .container {
        max-width: 725px;
        margin: 0 auto;
    }
}