* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --dark-color: #16182c;
    --light-color: #ececec;
    --main-color: #19a7ce;
    --second-color: #1b1c3c;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #9ea1a7;
}
body {
    font-family: 'Tajawal', sans-serif;
}

.container {
    width: 1170px;
    padding: 10px;
    margin: 0 auto;
}
@media (max-width: 1170px) {
    .container {
        width: 100%;
    }
}
